body {
  margin: auto;
  
 
}


.big-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.container:nth-child(2){
    pointer-events: none;
}

@media screen and (max-width: 768px){
  .container{
    position:fixed;
    width: 100%;
  }
  .container:nth-child(2){
    background-color: transparent !important;
  }
  .container h2{
    color: white;
    font-size: 14px;
    top: inherit;
    bottom: 30px;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
  }
}

h3{
  color: white;
  text-align: right;
  text-decoration: none;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: 100;
}

a{
  text-decoration: none;
}
